body {
  padding: 20px;
  color: black;
}
.noir {
  background: #080808;
}
h1.section-title {
  font-weight: bold;
  font-size: 40px;
  color: #2d3033;
}
h2.section-title {
  font-size: 24px;
  color: #2d3033;
}
.leftbar {
  position: absolute;
  left: 30px;
  top: 20px;
}
.leftbar .nav-text {
}
.footnote {
  position: absolute;
  right: 12px;
  bottom: 10px;
  text-align: right;
  font-family: Arial;
  font-size: 0.8em;
}
.section h3 {
  font-size: 20px;
  color: #2d3033;
}
.cover a {
  display: block;
  color: inherit;
}
.cover a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
}
.underlined {
  text-decoration: underline;
}
.section {
  margin:auto;
}
.section .desc {
  max-width: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 12px;
}
.the-four-block {
  margin-top: 20px;
  position: relative;
  width: 800px;
}
.the-four-block .the-four-logo {
  width: 300px;
  margin-top: 20px;
}
.the-four-block .block {
  position: absolute;
  left: 50%;
}
.the-four-block .block.google {
  left: 297px;
  bottom: 0;
}
.the-four-block .block.facebook {
  left: 74px;
  top: 140px;
  text-align: right;
}
.the-four-block .block.amazon {
  left: 385px;
  top: 122px;
  font-size: 0.8em;
  color: gray;
  text-align: right;
}
.arrow-swirly {
  position: absolute;
  width: 41px;
  transform: rotate(-30deg);
  left: 456px;
  bottom: 101px;
  opacity: 0.8;
}
.the-four-block .block.apple {
  left: 560px;
  bottom: 33px;
  text-align: left;
}
.other-block {
  color: #2d3033;
  margin-top: 100px;
}
.other-block .inner {
  width: 600px;
  margin:auto;
}
.other-block ul {
    text-align: left;
    margin-left: 272px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
footer {
  position: absolute;
  bottom: 12px;
  right: 20px;
}
