@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

body {
    font-family: 'Roboto Mono', monospace;
    background: black;
}

.row {
    padding: 2vw;
    margin: 0 2vw;
}

#sfmoma {
    width: 80%;
    margin: auto;
}

.back {
    font-size: 3em;
    line-height: 1.5em;
    padding-bottom: 1em;
}
.title {
    text-align: right;
    padding-right: 2vw;
    padding-top: 2vw;
}